<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>PerscholasCaseStudy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>signUp</servlet-name>
    <servlet-class>com.mahmoud.servlets.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signUp</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>signIn</servlet-name>
    <servlet-class>com.mahmoud.servlets.SignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signIn</servlet-name>
    <url-pattern>/SignInServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetServices</servlet-name>
    <servlet-class>com.mahmoud.servlets.GetServicesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetServices</servlet-name>
    <url-pattern>/GetServicesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetPromotions</servlet-name>
    <servlet-class>com.mahmoud.servlets.GetPromotionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPromotions</servlet-name>
    <url-pattern>/GetPromotionsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetBusinessHours</servlet-name>
    <servlet-class>com.mahmoud.servlets.GetBusinessHoursServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBusinessHours</servlet-name>
    <url-pattern>/GetBusinessHoursServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetBusiness</servlet-name>
    <servlet-class>com.mahmoud.servlets.GetBusinessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetBusiness</servlet-name>
    <url-pattern>/GetBusinessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getProfile</servlet-name>
    <servlet-class>com.mahmoud.servlets.GetProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getProfile</servlet-name>
    <url-pattern>/GetProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>com.mahmoud.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewBusiness</servlet-name>
    <servlet-class>com.mahmoud.servlets.ViewBusinessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewBusiness</servlet-name>
    <url-pattern>/ViewBusinessServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getClientService</servlet-name>
    <servlet-class>com.mahmoud.servlets.GetClientService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getClientService</servlet-name>
    <url-pattern>/GetClientService</url-pattern>
  </servlet-mapping>
</web-app>